@import "helpers/fonts";

@import "modules/colours";
@import "modules/typography";
@import "modules/button";
@import "modules/hr";
@import "modules/code";

@import "footer";

@include font-face("Semplicita", "../fonts/semplicita.woff", $type: "woff");

html {
	font-family: "Open-Sans", sans-serif;
	font-size: 19px;
	line-height: 1.7;
}

pre {
	background-color: none;
}

body {
	background: url("https://eu.battle.net/forums/static/images/backgrounds/background-wow-top.jpg") center -200px no-repeat, url(https://eu.battle.net/forums/static/images/backgrounds/background-wow-repeat.jpg) center 1800px repeat-y #231a13;
	color: $colour--body;

	margin-left: 4vw;
	margin-right: 4vw;

	@media only screen and (min-width : 480px) {
		margin-left: 8vw;
		margin-right: 0;
		max-width: 50vw;
	}
}

h1,h2,h3,h4,h5,h6 {
	color: $colour--white;
}
