@import "footer";
@import "common";

main {
	margin-top: 1vh;
}

section {
	margin-bottom: 3em;
}

#installation {
	div {
		margin-bottom: 2em;
	}
}

#grid {
	@media only screen and (max-width : 480px) {
		.image {
			margin-bottom: 2em;
		}
	}

	@media only screen and (min-width : 480px) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1.2em;
	}

	a {
		text-decoration: none;
	}
}

#payments {
	display: flex;

	form:not(:last-child) {
		margin-right: 1em;
	}
}
