@import "footer";
@import "common";

section {
	margin-top: 3em;
}

#intro {
	#call-to-action {
		*:first-child {
			margin-right: 0.6rem;
		}
	}

}

#screenshots {
	#grid {
		@media only screen and (max-width : 480px) {
			.image {
				margin-bottom: 2em;
			}
		}

		@media only screen and (min-width : 480px) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-column-gap: 1.2em;
		}

		a {
			text-decoration: none;
		}
	}
}

.image {
	/* Random fix for making .image behave like a true
	 * <img> tag, whereby the div will resize to fit the image
	 * https://stackoverflow.com/a/22211990/6542409
	 *
	 * tldr; set padding-top to (img-height / img-width * container-width)
	 * eg. (1080 / 1920 * 100) = 56.25%
	 */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 100%;
	height: 0;
	padding-top: 62.5%;

	display: flex;
	align-items: flex-end;

	transition: ease-in-out;
	transition-duration: 0.1s;

	h3 {
		color: $colour--link;
		margin-left: 0.75em;
		line-height: 0.75em;
		margin: 1em;
	}
	&:hover {
		h3 {
			color: $colour--white;
		}
		box-shadow: 0 20px 36px rgba(0,0,0,0.35), 0 10px 10px rgba(0,0,0,0.22), inset 0 0 0 1px rgba(255, 255, 255, .20), inset -1px -70px 42px -20px rgba(0,0,0,0.8);
	}

	outline: 1px solid black;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22), inset 0 0 0 1px rgba(255, 255, 255, .20), inset -1px -70px 42px -20px rgba(0,0,0,0.8);
}
