@import "colours";

button {
	border-color: #c77e19;
	border-radius: 0;
	border-width: 1px;
	color: $colour--link;
	background-color: rgba(0, 0, 0, .4);
	font-size: .9296875rem;
	height: 1.875rem;
	line-height: 1.5;
	padding: 0 .75rem;
	border-style: solid;
	outline: 1px solid black;

	&:hover {
		color: $colour--white;
		background-color: rgb(176, 102, 1);
		cursor: pointer;
	}

	&:active {
		background-color: rgb(138, 80, 0);
	}
}
