:root {
	--colour-white: #ffffff;
	--colour-body: rgba(255, 255, 255, 0.7);
	--colour-link: #f8b700;
}
.button {
	border-color: #c77e19;
	border-radius: 0;
	border-width: 1px;
	color: var(--colour-link);
	background-color: rgba(0, 0, 0, 0.4);
	font-size: .9296875rem;
	/* // height: 1.875rem; */
	line-height: 1.5;
	padding: 0.3rem .75rem;
	border-style: solid;
	outline: 1px solid black;
	display: inline-block;

	&:hover {
		color: var(--colour-white);
		background-color: rgb(176, 102, 1);
		cursor: pointer;
	}

	&:active {
		background-color: rgb(138, 80, 0);
	}
}
section {
	margin-top: 3em;
}

#intro {
	#call-to-action {
		*:first-child {
			margin-right: 0.6rem;
		}
	}
}

#screenshots {
	#grid {
		@media only screen and (max-width: 480px) {
			.image {
				margin-bottom: 2em;
			}
		}

		@media only screen and (min-width: 480px) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-column-gap: 1.2em;
		}

		a {
			text-decoration: none;
		}
	}
}

.image {
	/* Random fix for making .image behave like a true
	 * <img> tag, whereby the div will resize to fit the image
	 * https://stackoverflow.com/a/22211990/6542409
	 *
	 * tldr; set padding-top to (img-height / img-width * container-width)
	 * eg. (1080 / 1920 * 100) = 56.25%
	 */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 100%;
	height: 0;
	padding-top: 62.5%;

	display: flex;
	align-items: flex-end;

	transition: ease-in-out;
	transition-duration: 0.1s;

	h3 {
		color: var(--colour-link);
		margin-left: 0.75em;
		line-height: 0.75em;
		margin: 1em;
	}
	&:hover {
		h3 {
			color: var(--colour-white);
		}
		box-shadow:
			0 20px 36px rgba(0, 0, 0, 0.35), 0 10px 10px rgba(0, 0, 0, 0.22), inset 0 0 0 1px rgba(
				255,
				255,
				255,
				0.2
			), inset -1px -70px 42px -20px rgba(0, 0, 0, 0.8);
	}

	outline: 1px solid black;
	box-shadow:
		0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22), inset 0 0 0 1px rgba(
			255,
			255,
			255,
			0.2
		), inset -1px -70px 42px -20px rgba(0, 0, 0, 0.8);
}
footer {
	font-size: 0.6em;
	margin-bottom: 3rem;
	hr {
		margin-bottom: 3vh;
	}
}

hr {
	border: none;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.15);
}
code {
	background-color: rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.15);
	padding: 0.3rem;
	font-size: 0.9rem;
	line-height: 1em;
	display: inline-block;
}
pre {
	background-color: rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.15);
	code {
		border: none;
		background-color: transparent;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Semplicita";
	letter-spacing: 0.03em;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1rem;
	margin: 0;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	color: var(--colour-link);
}

ul {
	padding-left: 0;
	list-style-type: square;
	list-style-position: inside;
	line-height: 2.2em;
	padding-top: 0;
	margin-top: 0;
}
html {
	font-family: "Open-Sans", sans-serif;
	font-size: 19px;
	line-height: 1.7;
}

pre {
	background-color: none;
}

@font-face {
	font-family: "Semplicita";
	src: url("/static/fonts/semplicita.woff") format("woff");
}

body {
	background: url("/static/images/background-wow-top.jpg") center -200px
		no-repeat, url("/static/images/background-wow-repeat.jpg") center 1800px
		repeat-y #231a13;
	color: var(--colour-body);

	margin-left: 4vw;
	margin-right: 4vw;

	@media only screen and (min-width: 480px) {
		margin-left: 8vw;
		margin-right: 0;
		max-width: 50vw;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--colour-white);
}
