@mixin font-face($font-family, $src, $style: normal, $weight: normal, $type: "opentype") {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		src: url($src) format($type);
	}
}
