main {
	margin-top: 1vh;
}

#grid {
	@media only screen and (max-width : 480px) {
		.image {
			margin-bottom: 2em;
		}
	}

	@media only screen and (min-width : 480px) {
		display: grid;
		grid-template-columns: 30% 30% 30%;
		grid-column-gap: 1.2em;
	}

	a {
		text-decoration: none;
	}
}
