link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans", type="text/css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css", type="text/css")
link(rel="stylesheet", href="stylesheets/common.css", type="text/css")
link(rel="stylesheet", href="stylesheets/index.css", type="text/css")
link(rel="stylesheet", href="stylesheets/footer.css", type="text/css")
