<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="description" content="A World of Warcraft UI">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="index.css">
</head>

<body>
	{% block content %} {% endblock %}

	<footer>
		<hr>
		<strong>World of Warcraft®</strong>
		<p>
			©2004 Blizzard Entertainment, Inc. All rights reserved. World of Warcraft, Warcraft and Blizzard
			Entertainment are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the
			U.S. and/or
			other countries.
		</p>
	</footer>
</body>

</html>
