{% extends "base.html" %}

{% block title %}
{{ section.title }}
{% endblock title %}

{% block content %}
<main>
	<section id="intro">
		<h1>sInterface</h1>
		<p>A user interface for World of Warcraft</p>
		<div id="call-to-action">
			<a href="https://www.wowinterface.com/downloads/info24674-sInterface.html#info"
				class="button">Download</a>
			<a href="https://github.com/sbaildon/sInterface">Source</a>
		</div>
	</section>

	<section id="screenshots">
		<h2>Screenshots</h2>


		<div id="grid">
			<a href="{{ get_url(path="idle.png") }}" target="_blank">
				<div class="image"
					style="background-image: url({{ resize_image(path="idle.png", width=480, height=360, format="jpg", quality=60, op="fit") }})">
					<h3>Idle</h3>
				</div>
			</a>
			<a href="/party.png" target="_blank">
				<div class="image"
					style="background-image: url({{ resize_image(path="party.png", width=480, height=360, format="jpg", quality=60, op="fit") }})">
					<h3>Party</h3>
				</div>
			</a>
			<a href="/raid.png" target="_blank">
				<div class="image"
					style="background-image: url({{ resize_image(path="raid.png", width=480, height=360, format="jpg", quality=60, op="fit") }})">
					<h3>Raid</h3>
				</div>
			</a>
		</div>
	</section>

	<section id="about">
		<h2>About</h2>

		<p>
			sInterface is an opinionated replacement for the standard BlizzardUI.
			Reductionism is the goal. Fewer, smaller elements; frames that show
			when required; key information in the spotlight.
		</p>

		<p>
			There is no in-game configuration, customising your installation requires modifying lua
			files.
			sInterface does not use character profiles—configuration is shared
			between all characters without setup.
		</p>
	</section>

	<section id="installation">
		<h2>Installation</h2>

		<h3>Standard</h3>
		<ul>
			<li>
				Locate your WoW install, likely
				<code>C:/Program Files/World of Warcraft/_retail_</code>
			</li>
			<li>
				Unzip <code>sInterface.zip</code>
			</li>
			<li>
				Move the extracted directory, <code>sInterface/</code>, into
				<code>Interface/AddOns/</code>
			</li>
		</ul>

		<h3>Git</h3>
		<p>
			Familiar with git?
		</p>
		<code>git clone --recursive https://github.com/sbaildon/sInterface</code>
	</section>

	<section id="configuration">
		<h2>Configuration</h2>

		Configuration requires a supplemental addon that you need to create yourself. <a
			href="/configuration">More here</a>
	</section>

	<section id="support">
		<h2>Supporting</h2>
		<p>
			Opening pull requests and issues on
			<a href="https://github.com/sbaildon/sInterface">GitHub</a>
			is the simplest way to support the project.
		</p>
	</section>
</main>
{% endblock content %}
